.page-top-info {
    background-color: #f8f7f7;
    padding: 30px 20px 15px;
    & h4 {
        text-transform: uppercase;
        color: #414141;
        font-weight: 700;
    }
}

.page-top-text {
    padding-left: 30px;
}

.filters-wrapper {
    margin: 10%;
    margin: 10%;
}

.category-header, .price-sorting {
    display: inline-block;
}

.price-sorting {
    display: flex;
    float: right;
    padding: 0px 30px;
    &__header{
        color: #111111;
        text-transform: uppercase;

    }
    &__button {
        margin-left: 20px;
    }
    & p {
        display: inline-block;
    }
}

.pagelist-content {
    margin: 30px 30px;
}

.pi-picture {
    position: relative;
    display: block;
    & img {
        width: 500px;
        height: 500px;
        object-fit: contain;
        max-width: 100%;
    }
}

.pi-text {
    display: block;
    padding-top: 22px;
    height: 87px;

    &__header {
        font-size: 16px;
        color: #111111;
        margin-bottom: 0;
        display: inline-block;
    }
    &__price {
        display: inline-block;
        float: right;
        font-weight: 700;
        color: #111111;
        padding-left: 40px;
        overflow: hidden;
        font-size: large;
        line-height: 1.2;
    }
}

.pi-links {
    width: 100%;
    display: block;
    position: absolute;
    bottom: 120px;
    box-sizing: border-box;
    padding: 10px 35px;
    text-align: right;
}

.add-card {
    border: 2px solid  #173F5F;
}
.pi-links .add-card {
    color: white;
    background-color: #173F5F;
    width: 39px;
    height: 38px;
    border-radius: 50px;
    display: inline-block;
}

.pi-links .add-card:hover{
    width:130px;
    text-align: left;
    transition: all, 0.8s;
}
.pi-links .add-card i {
    margin: 9px 12px 12px 4px;
}

.pi-links .add-card:hover span {
    position: absolute;
    opacity: 1;
    top: 21px;
    font-size: 14px;
    transition: font-size 0.1s, opacity 0.5s, top 0.5s;
    transition-delay: 0.3s;
    
    
}
 
.add-card span {
    opacity: 0;
    position: absolute;
    font-size: 1px;
}

.pagelist-bottom {
    text-align: center;
    margin: 30px 0px;
}

.button-outline {
    border: 2px solid black;
    background: transparent;
    border-radius: 35px;
    padding: 10px 37px;
    color: black;
}

.price-sorting__button{
    cursor: pointer;
    &:hover {
        color: black;
    }
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner{
    border-color: #173F5F;
} 
.ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #173F5F;
}
.ant-checkbox-inner {
    border-radius: 50%;
}

.ant-checkbox-checked .ant-checkbox-inner{
    background-color: #173F5F;
    border-color: #173F5F;
}

.ant-checkbox-wrapper {
    width:200px;
}
.ant-checkbox-wrapper + .ant-checkbox-wrapper {
    margin-left: 0px;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
    .price-sorting {margin-top: 30px;}
}
