
.caption-order-section {
  padding: 35px 30px 30px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
}
.order {
  margin-left: 10px;
  margin-right: 10px;
}
.order-section {
  background-color: #f0f0f0;
  border-radius: 20px 20px 30px 30px;
  margin: 50px 0 70px;
}
.name-price {
  font-weight: bold;
  margin-bottom: 30px;
}
.text-center {
  margin-bottom: 20px;
}
.user-choice {
  height: 50px;
  background-color: #173F5F;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
.total-price {
  font-size: medium;
  font-weight: bold;
  text-align: right;
  color: white;
  margin: 10px 40px;
  padding-top: 10px;
}

@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {
  .order {
    margin-left: 50px;
  }
}
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {
  .order {
    margin-left: 50px;
  }
}