$main-color:  blueviolet;
$submit-green: rgb(125, 193, 23);
$light-grey: rgb(191, 185, 185);


.main-wrapper{
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}

.page-viewer{
    position: relative;
    padding: 30px 10px;
    margin: 0 auto;
    width: 90%;
    .top-l-corner{
        display: none;
    }
    .bot-r-corner{
        display: none;
    }
}

.acc-navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:30px 10px 20px 10px;
    .navigation-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        border-radius: 5px;
        align-self: flex-end;
        color: $main-color;
        border: 1px solid $main-color;
        min-width: 50px;
        min-height: 50px;
        max-width: 50px;
        max-height: 50px;
        i{
            font-size: 30px;
        }
        &:focus{
            outline: none;
        }
        span{
            display: none;
        }
    } 
    .navigation-btn-bot{
        border-radius: 5px;
        color: $main-color;
        border: 1px solid $main-color;
        min-width: 50px;
        min-height: 50px;
        max-width: 50px;
        max-height: 50px;
    } 
    .navigation-btn-top{
        border-radius: 5px;
        color: $main-color;
        border: 1px solid $main-color;
        min-width: 50px;
        min-height: 50px;
        max-width: 50px;
        max-height: 50px;
    } 
}

.info-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .info-container__items{
        width: 100%;
        h2{
            font-size: 18px;
            margin-left: 10px;
        }
    } 
}

.info-header{
    display: inline-block;
    font-size: 20px;
    padding: 5px;
    border-left: 2px solid $main-color;
    border-bottom: 2px solid $main-color;
    border-radius:  0 0 0 10px;
}

@media (min-width: 640px) {
    
    .main-wrapper{
    display: flex;
    flex-direction: row;
    }

    .acc-navigation{
        flex-direction: column;
        justify-content: start;
        .navigation-btn{
            position: relative;
            border-radius: 5px;
            padding: 15px;
            padding-left: 40px;
            align-self: flex-end;
            min-width: 200px;
            min-width: none;
            max-width: 200px;
            max-height: none;
            i{
                position: absolute;
                font-size: 30px;
                left: 10px;
                top: 10px;
            }
            span{
                display: inline-block;
            }
        } 
        .navigation-btn-bot{
            border-radius: 5px;
            color: $main-color;
            border: 1px solid $main-color;
            border-radius: 0 0 10px 10px
        } 
        .navigation-btn-top{
            border-radius: 5px;
            color: $main-color;
            border: 1px solid $main-color;
            border-radius: 10px 10px 0 0;
        } 
    }

    .page-viewer{
        position: relative;
        padding: 0 20px;
        width: 70%;
        .top-l-corner{
            content: "";
            height: 50px;
            width: 50px;
            position: absolute;
            left: 0;
            top: 0;
            border-top: 1px solid $main-color;
            border-left: 1px solid  $main-color;
            border-radius: 20px 0 0 0;
        }
        .bot-r-corner{
            content: "";
            height: 50px;
            width: 50px;
            position: absolute;
            right: 0;
            bottom: 0;
            border-bottom: 1px solid $main-color;
            border-right: 1px solid  $main-color;
            border-radius: 0 0 20px 0;
        }
    }

    .info-container{
        margin: 15px;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: start;
        .info-container__items{
            width: 100%;
            padding-top: 0;
            h2{
                font-size: 25px;
            }
        } 
    }

    .info-header{
        display: inline-block;
        font-size: 30px;
        padding: 5px;
        border-left: 2px solid $main-color;
        border-bottom: 2px solid $main-color;
        margin: 30px 0 20px 0;
        border-radius:  0 0 0 10px;
    }
}

@media (min-width: 960px){
    .info-container__items{
        width: 100%;
        padding-top: 0;
        h2{
            font-size: 30px;
            margin-left: 10px;
        }
    } 

    .info-header{
        display: inline-block;
        font-size: 35px;
        padding: 5px;
        border-left: 2px solid $main-color;
        border-bottom: 2px solid $main-color;
        margin: 30px 0 20px 0;
        border-radius:  0 0 0 10px;
    }

    .acc-navigation{
        margin:30px 10px 20px 30px;
        .navigation-btn{
            color: black;
            border: 1px solid $light-grey;
            transition: 1s ease;
                &:hover{
                color: $main-color;
                border: 1px solid $main-color;
                } 
                &:active{
                    color: $main-color;
                    border: 1px solid $main-color;
                }   
    }
    }
}
    