$main-color:  #173F5F;
$submit-green: rgb(125, 193, 23);
$light-grey: rgb(191, 185, 185);

.full-order-wrapper{ 
    display: flex;
    flex-direction: column-reverse;
}

.full-order-info{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    &__products{
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__items{
            min-width: 170px;
            max-width: 170px;
            min-height: 150px;
            max-height: 150px;
            padding: 15px;
            border: 1px solid black;
            border-radius: 5px;
            margin: 10px;
            word-wrap: break-word;
        }
            &__text{
                font-size: 14px;
            }
    }
    &__items{
        margin: 20px auto;
        &__address-main{
            font-size: 20px;
        }
        &__address{
            font-size: 17px;
        }
        &__delivery{
            font-size: 14px;
        }
        &__email{
            font-size: 14px;
        }
        &__total{
            display: block;
            width: 100%;
            font-size: 25px;
            color: $main-color;
            text-align: center;
        }
    }
}

.orders-wrapper{
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 500px;
        &__each{
            width: 300px;
            border: 1px solid black;
            margin: 5px;
            padding: 10px;
            border-radius: 5px;
            word-wrap: break-word;
        }
}

@media (min-width: 640px){
    .full-order-info{
        flex-direction: row;
        justify-content: start;
        &__products{
            &__items{
                min-width: 160px;
                max-width: 160px;
            }
        }
        &__items{
            margin: 20px 20px;
            min-width: 260px;
        }
    }

    .orders-wrapper{
        justify-content: start;
        align-items: flex-start;
        margin: 15px;
    }
}


@media (min-width: 960px) {

    .full-order-wrapper{ 
        flex-direction: row;
        padding: 15px;
    }

    .full-order-info{
        margin-left: 20px;
        width: 100%;
        &__products{
            display: flex;
            flex-direction: column;
            justify-content: center;
            &__items{
                min-width: 180px;
                max-width: 180px;
                min-height: 150px;
                max-height: 150px;
                padding: 15px;
                border: 1px solid black;
                border-radius: 5px;
                margin: 10px;
                word-wrap: break-word;
            }
            &__text{
                font-size: 14px;
            }
        }
        &__items{
            margin: 20px 0;
            &__address-main{
                font-size: 25px;
            }
            &__address{
                font-size: 20px;
            }
            &__delivery{
                font-size: 14px;
            }
            &__email{
                font-size: 14px;
            }
            &__total{
                
                font-size: 25px;
                color: $main-color
            }
        }
    }

    
}

@media (min-width: 1200px){
    .full-order-info{
        display: flex;
        justify-content: space-between;
        padding: 0 50px;
        &__products{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: start;
            max-width: 615px;
        }
    }

    .full-order-wrapper{ 
        padding: 20px;
    }

    .orders-wrapper{
        margin: 20px;
    }
    }
    