.info-container{
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: space-around;
    align-items: center;
    .info-container__items{
        width: 100%;
        padding-top: 40px;
        h2{
            font-size: 20px;
            overflow-wrap: wrap;
        }
    } 
}

.button-history{
    position: relative;
    background: none;
    border-radius: 5px;
    padding: 15px;
    padding-left: 40px;
    align-self: flex-end;
    color: #f51167;
    border: 1px solid #f51167;
    min-width: 200px;
    i{
        position: absolute;
        font-size: 30px;
        left: 10px;
        top: 10px;
    }
} 

.full-order-wrapper{
    padding: 10px 0 0 10px;
}

.full-order-info{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
    width: 100%;
    .full-order-info__products{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        .full-order-info__products__items{
            width: 100%;
            padding: 15px;
            border: 1px solid black;
            border-radius: 5px;
            margin: 10px;
            word-wrap: break-word;
        }
    }
}

@media (min-width: 640px){
    .info-container{
        margin: 15px;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: start;
        .info-container__items{
            width: 100%;
            padding-top: 0;
            h2{
                font-size: 30px;
            }
        } 
    }
    .button-history{
        align-self: start;
        i{
            position: absolute;
            font-size: 30px;
            left: 10px;
            top: 10px;
        }
    }
    .full-order-info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100%;
        padding: 20px;
        width: 100%;
        .full-order-info__products{
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            .full-order-info__products__items{
                min-width: 120px;
                max-width: 150px;
                padding: 15px;
                border: 1px solid black;
                border-radius: 5px;
                margin: 10px;
                word-wrap: break-word;
            }
        }
    }
}

@media (min-width: 960px){
    .info-container{
        margin: 20px;
        .info-container__items{
            width: 100%;
            padding-top: 0;
            h2{
                font-size: 40px;
            }
        } 
    }
    .button-history{
        color: black;
        border: 1px solid rgb(191, 185, 185);
        transition: 1s ease;
            &:hover{
            color: #f51167;
            border: 1px solid #f51167;
    }
}
}
    