.info-product__button {
	background-color: #f51167;
	border-radius: 5px;
	width: 120px;
	height: 40px;
	font-size: 16px;
	color: aliceblue;
	border: 0;
	transition: .5s;
}

.info-product__button:hover {
	color: aliceblue;
	border: 0;
	filter: brightness(150%);
}

.info-product__tabs {
	height: 200px;
}

.info-product__video,
.info-product__music {
	margin: 0 2px;
	font-size: 26px;
	&:hover {
		color: #f51167;
	}
}

.info-product__qty {
	width: 40px;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	font-size: 16px;
	font-weight: bold;
	border: 1px solid grey;
	border-radius: 5px;
}

.info-product__qty:focus {
	outline: none;
}

.info-product {
	display: flex;
	justify-content: space-between;
}

.qty-text {
	font-size: 28px;
	vertical-align: middle;
	font-weight: bold;
	margin-left: 10px;
	text-transform: uppercase;
}

.info-product__addQty {
	width: 40px;
	height: 40px;
	background-color: #f51167;
	color: white;
	border-radius: 50%;
	border: 0;
	margin: 0 3px;
	outline: none;
	font-size: 25px;
	&:hover {
		background-color: #f10acd;
	}
}

.ant-tabs-nav-wrap {
	.ant-tabs-nav {
		.ant-tabs-tab-active {
			color: #f51167;
			font-weight: 700;
			border-bottom-color: #f51167;
		}
  }
}
