.info-product__button {
	background-color: #173f5f;
	border-radius: 6px;
	width: 135px;
	height: 40px;
	padding-top: 5px;
	font-size: 17px;
	color: aliceblue;
	border: 0;
	outline: none;
	margin-left: 10px;
}

.info-product__button:hover {
	color: #173f5f;
	background: #ffffff;
	border: 2px solid #173f5f;
	border-radius: 6px;
	display: inline-block;
	outline: none;
}

.info-product__tabs {
	min-height: 24vh;
}

.info-product__qty {
	width: 40px;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	font-size: 16px;
	font-weight: bold;
	border: 1px solid grey;
	border-radius: 5px;
}

.info-product__qty:focus {
	outline: none;
}

.info-product {
	display: flex;
	justify-content: space-between;
}

.qty-text {
	font-size: 26px;
	vertical-align: middle;
	font-weight: bold;
	margin-left: 10px;
	text-transform: uppercase;
}

.plus-circle {
	background-color: #173f5f;
	color: white;
	border-radius: 50%;
	font-size: 35px;
	border: 0;
	margin: 0 4px;
	&:hover {
		color: #173f5f;
		background: white;
		border-radius: 50%;
		display: inline-block;
		font-size: 35px;
	}
}

.ant-tabs-nav-wrap {
	.ant-tabs-nav {
		.ant-tabs-tab-active {
			color: #173f5f;
		}
	}
}

.ant-tabs-top .ant-tabs-ink-bar-animated {
	background-color: #173f5f;
	&:hover {
		background-color: #173f5f;
	}
}

.ant-tabs-nav .ant-tabs-tab {
	&:hover {
		color: #173f5f;
	}
}

.ant-tabs-nav .ant-tabs-tab {
	font-size: 18px;
}

.info-product__title {
	font-size: 35px;
	font-weight: 700;
}

.info-product__producer {
	font-size: 28px;
	font-weight: normal;
	margin-left: 10px;
}

.info-product__price {
	color: #173f5f;
	font-weight: 500;
	font-size: 40px;
}

.ant-tabs .ant-tabs-top-content > .ant-tabs-tabpane h3 {
	font-size: 35px;
	font-weight: 300;
}

.ant-tabs-nav .ant-tabs-tab {
	margin: 0px 10px 0 0;
	font-weight: bold;
}
