.info-product__button {
	background-color: #f51167;
	border-radius: 5px;
	width: 120px;
	height: 40px;
	font-size: 16px;
	color: aliceblue;
	border: 0;
	transition: .5s;
}

.info-product__button:hover {
	color: aliceblue;
	border: 0;
	filter: brightness(150%);
}

.info-product__tabs {
	height: 200px;
}

.info-product__video,
.info-product__music {
	margin: 0 2px;
	font-size: 26px;
	&:hover {
		color: #f51167;
	}
}

.info-product__qty {
	margin-left: 10px;
	width: 45px;
	height: 40px;
	text-align: right;
	vertical-align: middle;
	font-size: 16px;
	font-weight: bold;
	border: 1px solid grey;
	border-radius: 5px;
	padding-right: 4px;
}

.info-product__qty:focus {
	outline: none;
}

.info-product {
	display: flex;
	justify-content: space-between;
}

.qty-text {
	font-size: 28px;
	vertical-align: middle;
	font-weight: bold;
	margin-left: 10px;
	text-transform: uppercase;
}
