.ant-carousel {
	text-align: center;
	overflow: hidden;
}

.ant-carousel {
	& .slick-slide h3 {
		color: #fff;
	}
}

.carusel-wrapp {
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	& img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 60%;
		object-fit: contain;
		object-position: center;
	}
}

.slick-dots-bottom {
	top: 450px !important;
}

.photo-product__container {
	& img {
		width: 100%;
		height: 100%;
	}
}

.product-details__container--photo {
	& .ant-carousel {
		& .slick-dots {
			& button {
				width: 30px;
				height: 30px;
				border-radius: 30px;
				background-color: black;
			}
		}
	}
}

.product-details__container--photo {
	& .ant-carousel {
		& .slick-dots {
			& .slick-active {
				button {
					width: 30px;
					height: 30px;
					border-radius: 30px;
					background-color: black;
				}
			}
		}
	}
}




