.no-basket-div {
  display: inline-block;
  width: 100%;
  background-color: #f0f0f0;
  padding-bottom: 100px;
}

.err-cust {
  padding: 0;
  margin: 0;
  color: black;
}

.checkout-container {
  display: flex;
  width: 100%;
  padding: 0 1%;
  margin: 100px auto;
  flex-direction: column-reverse;
}
.checkout-container__inputs {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.checkout-container__cart {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #f0f0f0;
  border-radius: 10px;
  padding: 25px;
}
.checkout-container__cart__products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 20px;
  padding: 20px 0;
}
.checkout-container__cart__header {
  text-align: center;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  color: black;
  font-size: 30px;
  margin: 0;
}
.checkout-container__cart__main {
  width: 100%;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.checkout-container__cart__main .total-costs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: black;
  font-size: 25px;
  margin: 0;
}
.checkout-container__cart__main .total-costs--fin {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: black;
  margin: 0;
  font-weight: 700;
  font-size: 28px;
}

.prod-wrap {
  border: 1px solid #bfb9b9;
  margin: 10px;
  border-radius: 10px;
  width: 150px;
  height: 150px;
}

.prod-views {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 148px;
  height: 148px;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  overflow: hidden;
  border-radius: 9px;
}

.prod-info {
  position: absolute;
  background: white;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: 100%;
  transition: 0.5s;
  left: 0;
  padding: 10px;
}
.prod-info__name {
  font-weight: 700;
  margin-top: 5px;
  font-size: 15px;
}
.prod-info__name span {
  font-weight: 500;
  font-size: 15px;
}
.prod-info__price {
  font-weight: 700;
  margin-top: 10px;
  font-size: 15px;
}
.prod-info__price span {
  font-weight: 500;
  font-size: 15px;
}
.prod-info__quantity {
  font-weight: 700;
  margin-top: 10px;
  font-size: 15px;
}
.prod-info__quantity span {
  font-weight: 500;
  font-size: 15px;
}
.prod-info:hover {
  top: 0;
}

.show-close-info-btn {
  z-index: 1000;
  position: absolute;
  top: calc(100% - 25px);
  right: 10px;
  color: #173F5F;
  font-size: 20px;
  transition: 0.5s;
}
.show-close-info-btn:hover {
  color: #173F5F;
}

.section-header {
  font-weight: 700;
  font-size: 25px;
  border-radius: 10px;
  color: #173F5F;
  background: white;
  margin: 20px 0 0 0;
}

.checkout-input-wrapper {
  position: relative;
  margin: 10px 0;
}

.checkout-input {
  border: 1px solid #bfb9b9;
  padding-left: 20px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  margin: 10px 0;
}
.checkout-input:focus {
  outline: none;
}

.checkout-label {
  position: absolute;
  top: 25px;
  left: 20px;
  margin: 0;
  transition: 0.2s ease-in-out;
}

.active {
  top: 15px;
  font-size: 10px;
}

.order-submit-btn {
  text-align: center;
  border: none;
  background: #173F5F;
  padding: 20px;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  text-transform: uppercase;
}
.order-submit-btn:focus {
  outline: 0;
}
.order-submit-btn:hover {
  background-color: #999;
}

.payment-radio-wrap {
  display: flex;
  flex-direction: column;
  margin: 20px 0 20px 10px;
}
.payment-radio-wrap__header {
  font-size: 20px;
}
.payment-radio-wrap__label {
  position: relative;
  margin-left: 50px;
}
.payment-radio-wrap__input {
  position: absolute;
  top: 2px;
  left: -20px;
}

@media (min-width: 640px) {
  .checkout-container {
    display: flex;
    width: 100%;
    padding: 0 5%;
    margin: 100px auto;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
  }
  .checkout-container__inputs {
    width: 45%;
  }
  .checkout-container__cart {
    width: 45%;
  }

  .section-header {
    font-size: 25px;
    border-radius: 10px;
    color: #173F5F;
    background: white;
    margin: 20px 0 0 0;
  }

  .checkout-input-wrapper {
    position: relative;
    margin: 10px 0;
  }

  .checkout-input {
    border: 1px solid #bfb9b9;
    padding-left: 20px;
    padding-top: 10px;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    margin: 0;
  }
  .checkout-input:focus {
    outline: none;
  }

  .checkout-label {
    position: absolute;
    top: 16px;
    left: 20px;
    margin: 0;
    transition: 0.2s ease-in-out;
  }

  .active {
    top: 5px;
    font-size: 10px;
  }

  .order-submit-btn {
    border: none;
    background: #173F5F;
    padding: 20px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
  }

  .payment-radio-wrap {
    display: flex;
    flex-direction: column;
    margin: 20px 0 20px 10px;
  }
  .payment-radio-wrap__header {
    font-size: 20px;
  }
  .payment-radio-wrap__label {
    position: relative;
    margin-left: 50px;
  }
  .payment-radio-wrap__input {
    position: absolute;
    top: 2px;
    left: -20px;
  }
}

/*# sourceMappingURL=style.css.map */
