$main-color:  #173F5F;
$light-main-color:  #8a2be23d;
$submit-green: rgb(125, 193, 23);
$light-grey: rgb(191, 185, 185);
$checkout-white: #f0f0f0;

.err-cust{
    padding: 0;
    margin: 0;
    color: black;
}

.checkout-container{
    display: flex;
    width: 100%;
    padding: 0 1%;
    margin: 100px auto;
    flex-direction: column-reverse;

    &__inputs{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &__cart{
        display: flex;
        flex-direction: column;
        width: 100%;
        background: $checkout-white;
        border-radius: 10px;
        &__products{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            border-radius: 20px;
            padding: 20px 0;
        }
        &__header{
            text-align: center;
            width: 100%;
            border-radius: 10px;
            padding: 10px;
            color: black;
            font-size: 30px;
            margin: 0;
        }
        &__main{
                width: 100%;
                text-align: center;
                border-radius: 10px;
                padding: 10px;
                .total-costs{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    color: black;
                    font-size: 25px;
                    margin: 0; 
                    &--fin{
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        color: black;
                        margin: 0; 
                        font-weight: 700;
                        font-size: 28px;
                    }
                }    
        }
    } 
}


.prod-wrap{
    border: 1px solid $light-grey;
    margin: 10px;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

.prod-views{
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 148px;
    height: 148px;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    overflow: hidden;
    border-radius: 9px;

}

.prod-info{
    position: absolute;
    background: white;
    width: calc(100% + 2px);
    height: calc(100% + 2px) ;
    top: 100%;
    transition: 0.5s;
    left: 0;
    padding: 10px;
    &__name{
        font-weight: 700;
        margin-top: 5px;
        font-size: 15px;
        span{
            font-weight: 500;
            font-size: 15px;
        }
    }
    &__price{
        font-weight: 700;
        margin-top: 10px;
        font-size: 15px;
        span{
            font-weight: 500;
            font-size: 15px;
        }
    }
    &__quantity{
        font-weight: 700;
        margin-top: 10px;
        font-size: 15px;
        span{
            font-weight: 500;
            font-size: 15px;
        }
    }
    &:hover{
        top: 0;
    }
}

.show-close-info-btn{
    z-index: 1000;
    position: absolute;
    top: calc(100% - 40px);
    right: 10px;
    width: 30px;
    height: 30px;
    background:  $light-main-color;
    border: none;
    font-size: 20px;
    font-weight: 700;
    border-radius: 50%;
    color: white;
    transition: 0.5s;
    &:focus{
        outline: 0;
    }
    &:hover{
        background: $main-color;
    }
}

.section-header{
    font-weight: 700;
    font-size: 25px;
    border-radius: 10px;
    color: $main-color;
    background: white;
    margin: 20px 0 0 0;
}

.checkout-input-wrapper{
    position: relative;
    margin: 10px 0;
}

.checkout-input{
    border: 1px solid $light-grey;
    padding-left: 20px;
    width: 100%;
    height: 50px;   
    border-radius: 10px;
    margin: 10px 0;
    &:focus{
        outline: none;
    }
}

.checkout-label{
    position: absolute;
    top: 25px;
    left: 20px;
    margin: 0;
    transition: .2s ease-in-out;
}

.active {
    top: 15px;
    font-size: 10px;
}

.order-submit-btn{
    border: none;
    background: $submit-green;
    padding: 20px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    &:focus{
        outline: 0
    }
}

.payment-radio-wrap{
    display: flex;
    flex-direction: column;
    margin: 20px 0 20px 10px;
    &__header{
        font-size: 20px;
    }
    &__label{
        position: relative;
        margin-left: 50px;
    }
    &__input{
        position: absolute;
        top: 2px;
        left: -20px;
    }
}

@media (min-width: 640px){
    
    .checkout-container{
        display: flex;
        width: 100%;
        padding: 0 5%;
        margin: 100px auto;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
        &__inputs{
            width: 45%;
        }
        &__cart{
            width: 45%;
        } 
    }


    

    .section-header{
        font-size: 25px;
        border-radius: 10px;
        color: $main-color;
        background: white;
        margin: 20px 0 0 0;
    }

    .checkout-input-wrapper{
        position: relative;
        margin: 10px 0;
    }

    .checkout-input{
        border: 1px solid $light-grey;
        padding-left: 20px;
        padding-top: 10px;
        width: 100%;
        height: 45px;   
        border-radius: 5px;
        margin: 0;
        &:focus{
            outline: none;
        }
    }

    .checkout-label{
        position: absolute;
        top: 16px;
        left: 20px;
        margin: 0;
        transition: .2s ease-in-out;
    }

    .active {
        top: 5px;
        font-size: 10px;
    }

    .order-submit-btn{
        border: none;
        background: $submit-green;
        padding: 20px;
        color: white;
        font-size: 20px;
        border-radius: 10px;
    }

    .payment-radio-wrap{
        display: flex;
        flex-direction: column;
        margin: 20px 0 20px 10px;
        &__header{
            font-size: 20px;
        }
        &__label{
            position: relative;
            margin-left: 50px;
        }
        &__input{
            position: absolute;
            top: 2px;
            left: -20px;
        }
    }
}